* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Kosugi', sans-serif;  background-color: #ffffff;
  letter-spacing : 0.2em;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}
a {	
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.logo a {
  color: #ffffff;
  margin: 100px 0 0 0;
}
nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
  list-style: none;
}
.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('main_visual.jpg') top center / cover no-repeat;
}
h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  color: rgba(23, 199, 191, 0.824);
}
footer {
  background-color: #000000;
  height:450px;
  text-align: center;
  width: 100%;
}

.ivent a {
  color: #ffffff;
  margin: 150px 0 0 0;
}

.pick-up {
  background-color: #000000;
  height:750px;
  text-align: center;
  width: 100%;
}

.pick-up img {
  width:700px;
  height:420px;
}

.pick-up h2 {
  color: #ffffff;
  margin: 5px 0;
}

.pick-up h3 {
  color: #ffffff;
  text-align: center;
}

.pick-up p {
  color: #ffffff;
}

.pc-day p {
  color: gray;
  font-size: 10px;
  margin: 5px 480px 5px 0;
}

.another {
  background-color: #ffffff;
  height:1500px;
  text-align: center;
  width: 100%;
}

.another h2 {
  color: #000000;
}

.another p {
  color: #000000;
}

.another img {
  margin: 40px 0;
}

.another h3 {
  color: gray;
  font-size: 15px;
  margin: 0 480px 0 0;
}

.pc-day2 p {
  color: gray;
  font-size: 10px;
  margin: 5px 480px 5px 0;
}

.pc-day3 p {
  color: gray;
  font-size: 10px;
}

.rounded-corner {
  background: #000000;
  width: 80px;
  height: 40px;
  color: #000000;
  font-size: 12px;
  border-radius: 25px;
  margin: 5px 5px 0 5px;
  border: none;
}

.rounded-corner a {
color: #ffffff;
text-align: center;
}
  
  
 
.box {
    display: flex;
  
    flex-wrap: wrap;
    margin: 200px 20px 0 70px;
  }

  .box2 {
    display: flex;

    flex-wrap: wrap;
    margin: 0 20px 0 70px;
  }

  .box3 {
    display: flex;

    flex-wrap: wrap;
    margin: 0 20px 0 70px;
  }



  .item {
    margin: 0 50px 50px 0;
    
  }


  .item img{
    margin: 0 20px 0 0;
    width: 280px;
    height: 240px;
  }

  .item h3 {
    margin: 0 ;
    text-align: center;
  }
  .item p {
    margin: 0 ;
  }

  .incolle-logo img {
    margin: 40px 0 0 0;
  }

  .incolle-logo p {
    color: #ffffff;
  }

.info {
  margin: 20px 0 30px 0;
}

.info a{
    color: #ffffff;
  }

.announce {
  margin: 20px 0 30px 0;
}

.announce p{
  color: #ffffff;
  font-size: 12px;
  }

  @media (max-width: 390px) {

    header img{
      width: 100px;
      height: 30px;
    }
    .rounded-corner {
      background: #000000;
      width: 60px;
      height: 30px;
      color: #000000;
      font-size: 8px;
      border-radius: 18px;
      margin: 5px 5px 0 5px;
      border: none;
    }
    .rounded-corner a {
    color: #ffffff;
    text-align: center;
    }
    .title {
      display: flex;
    justify-content: center;
    align-items: center;
    }

    .box {
      margin: 100px auto 0 auto;
      display: block;
      text-align: center;
      }
  
      .box2 {
        margin: auto;
        display: block;
        text-align: center;
        }
  
        .box3 {
          margin: auto;
          display: block;
          text-align: center;
          }
  
          .item1 img{
            width: 140px;
            height: 120px;
            margin: 150px auto 0 auto;
            display: block;
           }
  
      .item1 h3 {
        font-size: 4px;
      }
      .item1 p {
        font-size: 2px;
      }

    .item img{
      width: 140px;
      height: 120px;
      margin: auto;
      display: block;
     }
   
   .pick-up {
    background-color: #000000;
    height:350px;
    text-align: center;
    width: 100%;
  }
   .pick-up img{
    width: 210px;
    height: 180px;
   }

   .pick-up h3{
    font-size: 10px;
  }
  .pick-up h2{
    font-size: 10px;
  }
  .pick-up p{
   font-size: 8px;
 }
 .pc-day p{
  font-size: 8px; 
}

   .item h3{
     font-size: 13px;
   }

   .item p{
    font-size: 10px;
  }
  .pc-day3 p{
    font-size: 8px; 
  }
  .another {
    background-color: #ffffff;
    height:900px;
    text-align: center;
    width: 100%;
  }
  .another img{
    width: 210px;
    height: 180px;
   }
   .another h3{
    color: gray;
    font-size: 8px;
    margin: 0 190px 0 0;
  }
  .another h2{
    font-size: 16px;
  }
  .another p{
   font-size: 8px;
 }
 .incolle-logo img {
  margin: 40px 0 0 0;
}

.incolle-logo p {
  color: #ffffff;
}

.info {
margin: 20px 0 30px 0;
}

.info a{
  color: #ffffff;
}

.announce {
margin: 20px 0 30px 0;
}

.announce p{
color: #ffffff;
font-size: 6px;
}

}

@media (max-width: 500px) {

  header img{
    width: 100px;
    height: 30px;
  }
  .rounded-corner {
    background: #000000;
    width: 60px;
    height: 30px;
    color: #000000;
    font-size: 8px;
    border-radius: 18px;
    margin: 5px 5px 0 5px;
    border: none;
  }
  .rounded-corner a {
  color: #ffffff;
  text-align: center;
  }
  .title {
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .box {
    margin: 100px auto 0 auto;
    display: block;
    text-align: center;
    }

    .box2 {
      margin: auto;
      display: block;
      text-align: center;
      }

      .box3 {
        margin: auto;
        display: block;
        text-align: center;
        }

        .item1 img{
          width: 140px;
          height: 120px;
          margin: 150px auto 0 auto;
          display: block;
         }

    .item1 h3 {
      font-size: 4px;
    }
    .item1 p {
      font-size: 2px;
    }

  .item img{
    width: 140px;
    height: 120px;
    margin: auto;
    display: block;
   }
 
 .pick-up {
  background-color: #000000;
  height:350px;
  text-align: center;
  width: 100%;
}
 .pick-up img{
  width: 210px;
  height: 180px;
 }

 .pick-up h3{
  font-size: 10px;
}
.pick-up h2{
  font-size: 10px;
}
.pick-up p{
 font-size: 8px;
}
.pc-day p{
font-size: 8px; 
}

 .item h3{
   font-size: 13px;
 }

 .item p{
  font-size: 10px;
}
.pc-day3 p{
  font-size: 8px; 
}
.another {
  background-color: #ffffff;
  height:900px;
  text-align: center;
  width: 100%;
}
.another img{
  width: 210px;
  height: 180px;
 }
 .another h3{
  color: gray;
  font-size: 8px;
  margin: 0 190px 0 0;
}
.another h2{
  font-size: 16px;
}
.another p{
 font-size: 8px;
}
.incolle-logo img {
margin: 40px 0 0 0;
}

.incolle-logo p {
color: #ffffff;
}

.info {
margin: 20px 0 30px 0;
}

.info a{
color: #ffffff;
}

.announce {
margin: 20px 0 30px 0;
}

.announce p{
color: #ffffff;
font-size: 6px;
}

}