* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Kosugi', sans-serif;  background-color: #ffffff;
  background-color: #ffffff;
  letter-spacing : 0.2em;
}
header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.header h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}
.header a {	
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.header nav {
  margin: 0 0 0 auto;
}
.header ul{
  list-style: none;
  margin: 0;
  display: flex;
}
.header li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.main-visual {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 50vh;
  background: url('main_visual.jpg') top center / cover no-repeat;
}

h2 {
  margin: auto;
  font-size: 30px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

label{
  display: inline-block;
  text-align: right;
  width: 150px;
}

p {
  margin: 5%,0;
  font-size: 15px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.buttom{
  text-align:  center; 
}


.select {
  text-align:  center; 
}

.select a {
  color: rgb(0, 0, 0);
}

footer {
  text-align:  center; 
}

.logo a {
  color: rgb(0, 0, 0);
}


@media (max-width: 390px) {

  header img{
    width: 100px;
    height: 30px;
  }


  .title {
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  a {
    font-size: 13px;
  }
}

@media (max-width: 500px) {

  header img{
    width: 100px;
    height: 30px;
  }


  .title {
    display: flex;
  justify-content: center;
  align-items: center;
  }

}