* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Kosugi', sans-serif;  background-color: #ffffff;
  background-color: #ffffff;
  letter-spacing : 0.2em;
}
header {
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}
a {	
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.main-visual {
  display: flex;

  align-items: center;
  height: 25vh;
  background: url('main_visual.jpg') top center / cover no-repeat;
}


/*  予備   */
.picture {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
}
/*  予備ここまで   */


h2 {
  margin: auto;
  font-size: 25px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

label{
  display: inline-block;
  text-align: right;
  width: 150px;
}

p {
  margin: auto,0;
  font-size: 15px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.page {
  text-align:  center;
  margin:100px;
}

.page a {
  color: rgb(0, 0, 0);

}

footer {
  text-align:  center;
  height: 35vh;
}

.logo a {
  color: rgb(0, 0, 0);
}