* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Kosugi', sans-serif;  background-color: #ffffff;
  letter-spacing : 0.2em;
  display: flex;
  flex-direction: column;
}
header {
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0; padding: 0;
  font-size: 20px;
}
a {	
  text-decoration: none;
  color: rgb(0, 0, 0);
}
nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.main-visual {
  margin: 150px 0 0 0;
  text-align:  center;
  flex-flow: column;
  align-items: center;
  height: 65vh;
  background: url('main_visual.jpg') top center / cover no-repeat;
}

.name {
  text-align:  center;
  color: rgb(0, 0, 0);
}

.contents p {
  font-size: 15px;
  text-align:  center;
  color: rgb(0, 0, 0);
}

h2 {

  font-size: 30px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

label{
  display: inline-block;
  text-align: right;
  width: 150px;
}

p {
  margin: auto,0;
  font-size: 15px;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.setting {
  text-align:  center;
}

.set {
  text-align:  center;
}

.select {
  text-align:  center;
}

.select a {
  color: rgb(0, 0, 0);
}

footer {
  text-align:  center; 
}

.page {
  text-align:  center; 
}

.logo a {
  color: rgb(0, 0, 0);
}